<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Usuarios</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/styleEntidades.css}">
</head>
<body>

<aside class="sidebar">
    <div class="sidebar-header">
        <i class="fas fa-store"></i> Sistema Ventas
    </div>
    <nav>
        <ul>
            <li><a th:href="@{/inicio}"><i class="fas fa-chart-line"></i> Inicio</a></li>
            <li><a th:href="@{/venta}"><i class="fas fa-shopping-cart"></i> Ventas</a></li>
            <li><a th:href="@{/producto}"><i class="fas fa-box"></i> Productos</a></li>
            <li><a th:href="@{/cliente}"><i class="fas fa-users"></i> Clientes</a></li>
            <li><a class="active" th:href="@{/lista}"><i class="fas fa-user-shield"></i> Usuarios</a></li>
            <li><a th:href="@{/detalleVenta}"><i class="fas fa-file-invoice"></i> Detalle Venta</a></li>
            <li><a th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
        </ul>
    </nav>
</aside>

<div class="container">
    <div style="margin-bottom: 20px;">
        <a th:href="@{/registro}" class="btn">Agregar Usuario</a>
    </div>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <!-- Itera la lista de usuarios -->
        <tr th:each="usuario : ${usuarios}">
            <td th:text="${usuario.id}"></td>
            <td th:text="${usuario.username}"></td>
            <td class="acciones">
                <a th:href="@{'/eliminar/' + ${usuario.id}}" class="btn-eliminar"><i class="fi fi-rs-trash"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>